
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Padauk&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 25px;
  counter-reset:recordIndex ;
}
.th-counter::before{

  counter-increment:recordIndex  ;
  content: counter(recordIndex);
}